.progress-wrapper {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 15%;
    width: 100%;
    font-size: 48px;
    &:hover > .progress-bar {
        visibility: visible;
    }
}
.progress-bar {
    visibility: hidden;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    text-align: center;
    line-height: 200%;

    a {
        flex-grow: 1;
        font-size: 18px;
        background-color: white;
        color: black;
        opacity: 0.9;
        &:hover {
            opacity: 1;
        }
    }
    a.active {
        background-color: rgb(255, 208, 0);
    }
    a.read {
        background-color: yellow;
    }
}